{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/calendar.css' %}" rel="stylesheet">
<style type="text/css">
ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
</style>

<link rel="stylesheet" href="{% static 'js/jconfirm/jquery-confirm.min.css' %}">
{% endblock head %}


{% block content %}
    <div class="row">
    <div class="card">
        <div class="card-header">
            {% if nowtime %}
            <h4>查询数据：<a href="javascript:void(0)" id="setdate">{{ nowtime }}</a></h4>
            {% else %}
            <h4>最新数据：<a href="javascript:void(0)" id="setdate">{{ newday.date }}</a></h4>
            {% endif %}
        </div>
        <div class="card-body" id="header">
            <div class="col-xs-4 col-md-2 col-sm-3"><p>K线形态<label class="lyear-switch switch-primary"><input type="checkbox" value="K线"><span></span> </label> </p></div>
            <div class="col-xs-4 col-md-2 col-sm-3"><p>日均线<label class="lyear-switch switch-primary"><input type="checkbox" value="日均线"><span></span> </label> </p></div>
            <div class="col-xs-4 col-md-2 col-sm-3"><p>交易量<label class="lyear-switch switch-primary"><input type="checkbox" id="交易量"><span></span> </label> </p></div>
            <div class="col-xs-4 col-md-2 col-sm-3"><p>MACD<label class="lyear-switch switch-primary"><input type="checkbox" id="MACD"><span></span> </label> </p></div>
            <div class="col-xs-4 col-md-2 col-sm-3"><p>KDJ<label class="lyear-switch switch-primary"><input type="checkbox" id="KDJ"><span></span> </label> </p></div>
            <div class="col-xs-4 col-md-2 col-sm-3"><p>布林线<label class="lyear-switch switch-primary"><input type="checkbox" id="BOLL"><span></span> </label> </p></div>
            <div class="col-xs-4 col-md-2 col-sm-3"><p>换手率<label class="lyear-switch switch-primary"><input type="checkbox" id="换手率"><span></span> </label> </p></div>
            <p><br/><br/></p>
        </div>
    </div>
    <div id="dd"></div>
{#    我的策略部分#}
    {% if celielist %}{% if celielist|length > 0 %}
        <div class="card">
        <div class="card-header">
            <h4>我的策略</h4>
        </div>
        <div class="card-body" id="mycelve">
            {% for i in celielist %}
                {% if i.shanchu %}
                <button type="button" class="btn {% cycle 'btn-primary' 'btn-brown' 'btn-cyan' 'btn-danger' 'btn-warning'%}" name="{{ i.celve.clcode }}" title="{{ i.celve.clname }}" value="{{ i.id }}">{{ i.clname }}</button>
                {% endif %}
            {% endfor %}
        </div>
        </div>
    {% endif %}{% endif %}

    <div class="card" id="chaxun" style="display: none;">
        <div class="card-body">
            <form action="/chaxun/" method="post" class="form-horizontal"  enctype="multipart/form-data">
                {% csrf_token %}
                {% if nowtime %}
                    <input type="hidden" name="newtime" value="{{ nowtime }}">
                {% else %}
                    <input type="hidden" name="newtime" value="{{ newday.date }}">
                {% endif %}
                <div class="form-group col-xs-12" id="chekc-1" style="display: none;">
                    <h4><strong>K线形态</strong></h4>
                    <div>
                        <label >当天</label></br>
                        <label class="checkbox-inline"><input type="checkbox" name="1-1" value="当天上涨">上涨</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-2" value="当天下跌">下跌</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-3" value="当天阳线">阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-4" value="当天阴线">阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-5" value="当天高开">高开</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-6" value="当天低开">低开</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-7" value="当天大阳线">大阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-8" value="当天中阳线">中阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-9" value="当天小阳线">小阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-10" value="当天大阴线">大阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-11" value="当天中阴线">中阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-12" value="当天小阴线">小阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-13" value="当天光头阳线">光头阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-14" value="当天光脚阳线">光脚阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-15" value="当天光头阴线">光头阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-16" value="当天光脚阴线">光脚阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="1-17" value="当天十字星">十字星</label>
                        </br></br>
                        <label >前一天</label></br>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-1" value="前一天上涨">上涨</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-2" value="前一天下跌">下跌</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-3" value="前一天阳线">阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-4" value="前一天阴线">阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-5" value="前一天高开">高开</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-6" value="前一天低开">低开</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-7" value="前一天大阳线">大阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-8" value="前一天中阳线">中阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-9" value="前一天小阳线">小阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-10" value="前一天大阴线">大阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-11" value="前一天中阴线">中阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-12" value="前一天小阴线">小阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-13" value="前一天光头阳线">光头阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-14" value="前一天光脚阳线">光脚阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-15" value="前一天光头阴线">光头阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-16" value="前一天光脚阴线">光脚阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d1-1-17" value="前一天十字星">十字星</label>
                        </br></br>
                        <label >前两天</label></br>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-1" value="前二天上涨">上涨</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-2" value="前二天下跌">下跌</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-3" value="前二天阳线">阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-4" value="前二天阴线">阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-5" value="前二天高开">高开</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-6" value="前二天低开">低开</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-7" value="前二天大阳线">大阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-8" value="前二天中阳线">中阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-9" value="前二天小阳线">小阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-10" value="前二天大阴线">大阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-11" value="前二天中阴线">中阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-12" value="前二天小阴线">小阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-13" value="前二天光头阳线">光头阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-14" value="前二天光脚阳线">光脚阳线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-15" value="前二天光头阴线">光头阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-16" value="前二天光脚阴线">光脚阴线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="d2-1-17" value="前二天十字星">十字星</label>
                        <HR>
                    </div>
                </div>
                <div class="form-group col-xs-12" id="chekc-2" style="display: none;">
                    <h4><strong>日均线</strong></h4>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" name="2-1" value="5日线高于10日线">5日线高于10日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-2" value="5日线高于20日线">5日线高于20日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-3" value="10日线高于20日线">10日线高于20日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-16" value="5日线低于10日线">5日线低于10日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-17" value="5日线低于20日线">5日线低于20日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-18" value="10日线低于20日线">10日线低于20日线</label></br></br>
                        <label class="checkbox-inline"><input type="checkbox" name="2-4" value="K线在5日线上方">K线在5日线上方</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-5" value="K线在10日线上方">K线在10日线上方</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-6" value="K线在20日线上方">K线在20日线上方</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-7" value="K线在5日线下方">K线在5日线下方</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-8" value="K线在10日线下方">K线在10日线下方</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-9" value="K线在20日线下方">K线在20日线下方</label></br></br>
                        <label class="checkbox-inline"><input type="checkbox" name="2-10" value="5日线向上穿过10日线">5日线向上穿过10日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-11" value="5日线向上穿过20日线">5日线向上穿过20日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-12" value="10日线向上穿过20日线">10日线向上穿过20日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-13" value="5日线向下穿过10日线">5日线向下穿过10日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-14" value="5日线向下穿过20日线">5日线向下穿过20日线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="2-15" value="10日线向下穿过20日线">10日线向下穿过20日线</label></br></br>
                        <HR>
                    </div>
                </div>
                <div class="form-group  col-xs-12" id="chekc-3" style="display: none;">
                    <h4><strong>交易量</strong></h4>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" name="3-1" value="交易量翻倍">较前一日翻倍以上</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-2" value="交易量一半">较前一日低一半以上</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-3" value="比前5天平均值高一倍">比前5天的平均值高一倍</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-4" value="比前5天平均值低一半">比前5天的平均值低一半</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-5" value="比前20天平均值高一倍">比前20天的平均值高一倍</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-6" value="比前20天平均值低一半">比前20天的平均值低一半</label></br></br>
                        <label class="checkbox-inline"><input type="checkbox" name="3-7" value="交易量连续3日增加">连续3日增加</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-8" value="交易量连续3日减小">连续3日减小</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-9" value="交易量连续5日增加">连续5日增加</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-10" value="交易量连续5日减小">连续5日减小</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-11" value="交易量连续3日增加后减小">连续3日增加后减小</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-12" value="交易量连续3日减小后增加">连续3日减小后增加</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-13" value="交易量连续5日增加后减小">连续5日增加后减小</label>
                        <label class="checkbox-inline"><input type="checkbox" name="3-14" value="交易量连续5日减小后增加">连续5日减小后增加</label></br></br>
                        <HR>
                    </div>
                </div>
                <div class="form-group  col-xs-12" id="chekc-4" style="display: none;">
                    <h4><strong>MACD</strong></h4>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" name="4-1" value="MACD金叉">金叉</label>
                        <label class="checkbox-inline"><input type="checkbox" name="4-2" value="MACD死叉">死叉</label>
                        <label class="checkbox-inline"><input type="checkbox" name="4-3" value="DIF>DEA">快线高于慢线</label>
                        <label class="checkbox-inline"><input type="checkbox" name="4-4" value="DIF<DEA">快线低于慢线</label>
                        <HR>
                    </div>
                </div>
                <div class="form-group col-xs-12" id="chekc-5" style="display: none;">
                    <h4><strong>KDJ</strong></h4>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" name="5-1" value="KDJ金叉">金叉</label>
                        <label class="checkbox-inline"><input type="checkbox" name="5-2" value="KDJ死叉">死叉</label>
                        <label class="checkbox-inline"><input type="checkbox" name="5-3" value="D大于80(超买)">D大于80(超买)</label>
                        <label class="checkbox-inline"><input type="checkbox" name="5-4" value="D小于20(超卖)">D小于20(超卖)</label>
                        <label class="checkbox-inline"><input type="checkbox" name="5-5" value="D大于50">D大于50</label>
                        <label class="checkbox-inline"><input type="checkbox" name="5-6" value="D小于50">D小于50</label>
                        <label class="checkbox-inline"><input type="checkbox" name="5-7" value="K大于J">K大于J</label>
                        <label class="checkbox-inline"><input type="checkbox" name="5-8" value="J大于K">J大于K</label>
                        <HR>
                    </div>
                </div>
                <div class="form-group  col-xs-12" id="chekc-6" style="display: none;">
                    <h4><strong>布林线</strong></h4>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" name="6-1" value="股价穿过中轨">股价穿过中轨</label>
                        <label class="checkbox-inline"><input type="checkbox" name="6-3" value="股价在中轨上面">股价在中轨上面</label>
                        <label class="checkbox-inline"><input type="checkbox" name="6-4" value="股价在中轨下面">股价在中轨下面</label>
                        <label class="checkbox-inline"><input type="checkbox" name="6-5" value="触及上轨">股价触及上轨</label>
                        <label class="checkbox-inline"><input type="checkbox" name="6-6" value="触及下轨">股价触及下轨</label>
                        <HR>
                    </div>
                </div>
                <div class="form-group  col-xs-12" id="chekc-7" style="display: none;">
                    <h4><strong>换手率</strong></h4>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" name="7-1" value="换手率小于0.5%">小于0.5%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-2" value="换手率大于0.5%">大于0.5%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-3" value="换手率小于1%">小于1%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-4" value="换手率大于1%">大于1%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-5" value="换手率小于3%">小于3%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-6" value="换手率大于3%">大于3%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-7" value="换手率小于7%">小于7%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-8" value="换手率大于7%">大于7%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-9" value="换手率小于10%">小于10%</label>
                        <label class="checkbox-inline"><input type="checkbox" name="7-10" value="换手率大于10%">大于10%</label>
                        <HR>
                    </div>
                </div>
                <div id="查询按钮" style="display: none;">
                    <button class='btn btn-w-md btn-round btn-primary'>确认查询</button>
                    {% if username %}
                    <button id='储存' class='btn btn-w-md btn-round btn-info'>储存策略</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <div id="查询结果">
    {% if chaxun %}
    <div class="card">
        <div class="card-header">
            <h4>查询结果</h4>
        </div>
        <div class="card-actions">查询时间：{{ nowtime }}&ensp;&ensp;</div>
        <div class="card-body">
            {% for i in allname %}
            <span class="label {% cycle 'label-brown' 'label-cyan' 'label-danger' 'label-dark' 'label-info' 'label-primary' 'label-purple' 'label-secondary' 'label-success' 'label-warning' %}">{{ i }}</span>
            {% endfor %}
            <hr>
        {% if jieguo|length > 0%}
            <div class="table-responsive">
            <table class="table table-bordered">
            <thead><th>股票名称</th><th>股票代码</th><th>开盘价</th><th>收盘价</th><th>最高价</th><th>最低价</th><th>交易量</th><th>换手率</th></thead>
                <tbody>
                {% for ii in jieguo %}
                <tr>
                    <td>{{ ii.code.codename }}</td>
                    <td>{{ ii.code.code|slice:"3:" }}</td>
                    <td>{{ ii.open|floatformat:2 }}</td>
                    <td>{{ ii.close|floatformat:2 }}</td>
                    <td>{{ ii.high|floatformat:2 }}</td>
                    <td>{{ ii.low|floatformat:2 }}</td>
                    <td>{{ ii.volume|floatformat:0 }}</td>
                    <td>{{ ii.turn|floatformat:3 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <p>{{ nowtime }}没有满足以上条件的股票</p>
        {% endif %}
        </div>
    {% endif %}
    </div>
    </div>




    </div>

{% endblock content %}

{% block cutsom_js %}
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
<script>
$(function () {
    daylist = {{ allday|safe }};
    alldata = [];
    for (i=0;i<daylist.length;i++){
        if(daylist[i]['fields']['isover'] == false){}else {
            alldata.push({date:daylist[i]['fields']['date'],value:'1'})
        }
    };
    $('#dd').calendar({
        trigger: '#setdate',
        zIndex: 999,
		format: 'yyyy-mm-dd',
        data:alldata,
        onClose: function (view, date, data) {
            if(data==1) {
                var newtime = date.format("yyyy年mm月dd日");
                $('#setdate').text(newtime);
                $("input[name='newtime']").val(newtime);
            }else {
                alert('无数据，请选择‘绿点’日期')
            }
        }
    });
    var gaodu=$('#setdate').position().top;
    var zonghe = $('#dd').height();
    var xiaohe = $('#dd').find('.calendar-hd').height();
    $('#dd').css('top',gaodu+30).height(zonghe+20).find('.calendar-hd').height(xiaohe+10);
})
$(function () {
    $('#header>div').find('input').click(function () {
        if($(this).prop('checked')){
            var weizhi=$(this).parent().parent().parent().index();
            $('#chaxun').show();
            $('#查询按钮').show();
            $('.form-group').eq(weizhi).show();
        }else {
            var weizhi = $(this).parent().parent().parent().index();
            $('.form-group').eq(weizhi).hide().find('input').prop('checked', false);
            if ($('#header>div input:checked').length == 0) {$('#chaxun').hide();$('#查询按钮').hide();}}
    })
});
$(function () {
    if ($(window).width()<800){
        $('.table-bordered>thead>tr>th').eq(2).remove();
        var alllist=$('.table-bordered>tbody>tr');
        for (i=0;alllist.length>i;i++){$(alllist[i]).find('td').eq(2).remove()};
        $('.table-bordered>thead>tr>th').eq(4).remove();
        var alllist=$('.table-bordered>tbody>tr');
        for (i=0;alllist.length>i;i++){$(alllist[i]).find('td').eq(4).remove()};
    };
});
$(function () {
    $('.table-bordered>tbody>tr:even').css("background",'rgba(0,0,0,0.03)');

});
</script>
{% if username %}
<script src= "{% static "js/jconfirm/jquery-confirm.min.js" %}"></script>
{#以下是为了jQ使用cookie#}
<script>
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
</script>

<script type="text/javascript">
$('#储存').click(function () {
    var alllist={};
    var bianliang=$('#chaxun').find('input:checked');
    if (bianliang.length==0){
        $.alert({title: '无选项',content:'请选择策略再保存',buttons: {cancel: {text:'确定',btnClass: 'btn-primary',action:function(){}}}})
    }else{
        for (i=0;i<bianliang.length;i++){
            alllist[$(bianliang[i]).prop('name')]=$(bianliang[i]).prop('value')
        };
        console.log(alllist);
        var nr='';
        for (i in alllist){nr+=alllist[i]+'</br>'};

        $.confirm({
            title: '即将保存以下组合',
            content: '' +
            '<form action="" class="formName">'+
            '<div class="form-group">' +
            '<label>'+nr+'</label>' +
            '<input type="text" placeholder="请输入策略的名称" class="name form-control" required />' +
            '</div>' +
            '</form>',
            buttons: {
                formSubmit: {
                    text: '提交',
                    btnClass: 'btn-blue',
                    action: function () {
                        var name = this.$content.find('.name').val();
                        if(!name){
                            $.alert('请输入名称');
                            return false;
                        };
                        $.post('/chuchun/',{'data':alllist,'name':name},function (fanhui) {
                            $.alert({title:'',content:fanhui,buttons: {cancel: {text:'确定',btnClass: 'btn-primary',action:function(){location.reload()}}}})
                        })

                    }
                },
                cancel: {
                    text: '取消'
                },
            },
            onContentReady: function () {
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    };
return false;
});
</script>
{% endif %}
<script>
$(function () {
    $('#mycelve').find('button').click(function () {
        var clcode=this.name;
        var clname=this.title;
        var clid=this.value;
        var nowtime=$('#setdate').text();
        $.post('/clchaxun/',{'clcode':clcode,'clname':clname,'nowtime':nowtime,'clid':clid},function (re) {
            $('#查询结果').html(re);
            $('.table-bordered>tbody>tr:even').css("background",'rgba(0,0,0,0.03)');
        });
        return false;
    })
})</script>

{% endblock cutsom_js %}