<div class="card">
    <div class="card-header">
        <h4>查询结果</h4>
    </div>
    <div class="card-actions">查询时间：{{ nowtime }}&ensp;&ensp;</div>
    <div class="card-body">
        {% for i in allname %}
        <span class="label {% cycle 'label-brown' 'label-cyan' 'label-danger' 'label-dark' 'label-info' 'label-primary' 'label-purple' 'label-secondary' 'label-success' 'label-warning' %}">{{ i }}</span>
        {% endfor %}
        <hr>
    {% if jieguo|length > 0%}
        <div class="table-responsive">
        <table class="table table-bordered">
        <thead><th>股票名称</th><th>股票代码</th><th>开盘价</th><th>收盘价</th><th>最高价</th><th>最低价</th><th>交易量</th><th>换手率</th></thead>
            <tbody>
            {% for ii in jieguo %}
            <tr>
                <td>{{ ii.code.codename }}</td>
                <td>{{ ii.code.code|slice:"3:" }}</td>
                <td>{{ ii.open|floatformat:2 }}</td>
                <td>{{ ii.close|floatformat:2 }}</td>
                <td>{{ ii.high|floatformat:2 }}</td>
                <td>{{ ii.low|floatformat:2 }}</td>
                <td>{{ ii.volume|floatformat:0 }}</td>
                <td>{{ ii.turn|floatformat:3 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p>{{ nowtime }}没有满足以上条件的股票</p>
    {% endif %}
    </div>