{% load my_filters %}
<div class="card">
    <div class="card-header">
        <h4>查询结果</h4>
    </div>
    <div class="card-actions">数据时间：{{ nowtime }}&ensp;&ensp;{% if lenjieguo > 100 %}<p>一共{{ lenjieguo }}个结果（只显示100个）</p>{% else %}<p>一共{{ lenjieguo }}个结果</p>{% endif %}</div>
    <div class="card-body">
        {% for i in daylist %}
            <p>{{ i }}</p>
        {% endfor %}
        <hr>
    {% if jieguo|length > 0%}
        <div class="table-responsive">
            {% if tablelist %}
            <table class="table table-bordered stripe">
            <thead><th>股票名称</th><th>股票代码</th>{% for col in tablelist %}<th>{{ col }}</th>{% endfor %}</thead>
                <tbody>
                {% for ii in jieguo %}
                <tr>
                    <td>{{ ii.code.codename }}</td>
                    <td>{{ ii.code.code|slice:"3:" }}</td>
                    {% for col in tablelist %}
                    <td>{{ ii|shuchu:col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <table class="table table-bordered stripe">
            <thead><th>股票名称</th><th>股票代码</th><th>收盘价</th><th>交易量(万)</th><th>量比</th><th>换手率</th><th>市盈率</th><th>市值(亿)</th></thead>
                <tbody>
                {% for ii in jieguo %}
                <tr>
                    <td>{{ ii.code.codename }}</td>
                    <td>{{ ii.code.code|slice:"3:" }}</td>
                    <td>{{ ii.close|floatformat:2 }}</td>
                    <td>{{ ii.volume|yiwan }}</td>
                    <td>{{ ii.volume_ratio|floatformat:2 }}</td>
                    <td>{{ ii.turn|floatformat:2 }}%</td>
                    <td>{{ ii.pe|floatformat:1 }}</td>
                    <td>{{ ii.circ_mv|yiwan }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                {% endif %}
        </div>
    {% else %}
        <p>没有满足以上条件的股票</p>
    {% endif %}
</div>